LittlePaint/bin/Debug/LittlePaint.exe
LittlePaint/bin/Debug/LittlePaint.exe.config
LittlePaint/obj/Debug/LittlePaint.csproj.FileListAbsolute.txt
LittlePaint/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LittlePaint/bin/Debug/LittlePaint.vshost.exe.config
LittlePaint/bin/Debug/LittlePaint.pdb